node_modules
vendor
.env
.env.*
!.env.example
.git
.gitignore
.gitattributes
*.log
storage/*.key
storage/pail
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

